@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Imperial+Script&family=Megrim&family=MonteCarlo&display=swap');


body{
    font-family: 'DM Serif Text', serif;
    background-color: black; 
    color: white; 
}

header {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    padding: 40px;
    position:fixed;
    top: 0px;
    justify-content: flex-end;
    font-family: "DM Serif Text", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
    align-items: end;
    padding-right: 150px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #d42f2f;
    text-shadow: 0 0 10px #d42f2f;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
  gap: 40px;
}

.text {
  flex: 1;
  min-width: 320px;
  max-width: 600px;
}

.text h1 {
  font-family: 'DM Serif Text', serif;
  font-size:100px;
  margin-bottom: 20px;
  color: #f9d923;
  text-shadow:  #000B58 10px 0 5px;
}

.text p {
  font-size: 26px;
  line-height: 1.7;
  margin-bottom: 20px;
}


.carousel {
  position: relative;
  width: 45%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeCarousel 10s infinite;
  border-radius: 20px;
}

.img1 { background-image: url('assets/image1.webp'); animation-delay: 0s; }
.img2 { background-image: url('assets/image2.jpg'); animation-delay: 2s; }
.img3 { background-image: url('assets/image3.jpg'); animation-delay: 4s; }
.img4 { background-image: url('assets/image4.jpg'); animation-delay: 6s; }

@keyframes fadeCarousel {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  25%  { opacity: 1; }
  30%  { opacity: 0; }
  100% { opacity: 0; }
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.footer {
  background-color: black;
  color:white;
  text-align: center;
  padding: 25px 10px;
  border-top: 2px solid #ffae42;
  letter-spacing: 0.5px;
}

.content p {
  margin: 5px 0;
  font-size: 15px;
}